<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de bienvenida</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section class="main">
        <h1>Bienvenido(a)</h1>
    </section>
    <section class="main">
        <h2>Calculadoras</h2>
    </section>
    <section class="menu-bienvenida">
        <ul>
            <li>
                <a href="/calculadora_articulos">Calculadora de Artículos</a>
            </li>
            <li>
                <a href="/calculadora_marchamo">Calculadora de Marchamo</a>
            </li>
        </ul>
    </section>
</body>
</html>